<!-- <p>
  device works!
</p> -->
<ul class="breadcrumb">
    <li><a routerLink="/mainpage/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li>Device</li>
</ul>

<nav>
    <mat-toolbar>
        <h2>{{title}}</h2>
        <span class="example-fill-remaining-space"></span>
        <span><button mat-mini-fab (click)="openDialog()">
            <mat-icon class="add">add</mat-icon>
        </button> Create Device</span>
    </mat-toolbar>
</nav>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>


        <!-- <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container> -->


        <ng-container matColumnDef="deviceName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </mat-header-cell>
            <mat-cell *matCellDef="let device">{{device.deviceName}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="deviceModel.deviceModel">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Device Model </mat-header-cell>
            <mat-cell *matCellDef="let device">{{device.deviceModel.deviceModel}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deviceMacId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Device MacID </mat-header-cell>
            <mat-cell *matCellDef="let device">{{device.deviceMacId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deviceIp">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Device IP </mat-header-cell>
            <mat-cell *matCellDef="let device">{{device.deviceIp}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
            <mat-cell *matCellDef="let device">{{device.active}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let device"> {{device.status}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Check Availability </mat-header-cell>
            <mat-cell *matCellDef="let device">
                <button mat-raised-button color="primary" (click)="getDeviceStatus(device)">Check</button>
            </mat-cell>
        </ng-container>


        <!-- <ng-container matColumnDef="deviceDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Device Description </mat-header-cell>
            <mat-cell *matCellDef="let device"> {{device.deviceDescription}} </mat-cell>
        </ng-container> -->





        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </mat-row>


    </mat-table>
    <div>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>